 <div class="center jumbotron home-image">
  <div class = "container" >

    <h1>Welcome to TA On Demand</h1>
	
    <h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: 'btn_signup' %>
    </h2>
  </div>
</div>
