<footer class="footer">
  <small>
    TA On Demand by Nick April, Hao Wang and Adi Berkowitz
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>